main{
    background-color: $colorFondo;
    @include grid;
    .probando {
        width: 100%;
        height: 400px;
        overflow: hidden;
        position: relative;
    }
    .probando .slides {
        display: flex;
        @include width;
        animation: slide 12s infinite; 
    }
    .probando .slides div img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
     @keyframes slide {
       0% { transform: translateX(0); }
       25% {transform: translateX(-200%);}
       100% {transform: translateX(0);}
    }
    .imgprincipal{
        @include flex;   
    }
    h2{
        position: absolute;
        top: 70%; /* Centra verticalmente */
        left: 50%; /* Centra horizontalmente */
        color: $colorLtBoton;
        font-size: 2em; /* Tamaño del texto */
        text-shadow: $sombraH2;
        background-color: $colorMenu;
        padding: 10px; 
        border-radius: 5px;
    
    }
    .presentacion{
      margin-top: 20px;
      display: grid;
      width: 100%;
      height: 500px;
      grid-template-columns: auto auto auto auto;
      gap: 2%;
      justify-content: center;
      text-align: center;
      align-items: center;
      margin: 0;
    }
    .cajas{
        width: 100%;
        height: 80%;
        border: $bordes;
        background-image: $grandientProd;
    }
    .cajas a img{
        width: 75%;
    }
    .cajas:hover{
        box-shadow: $sombraH2;
    }
    .cajas a img{
        width: 100%;
        height: auto;
        padding: 20px;
        margin: 5px;
    }
    h3{
        font-size: $dimensionH3;
        text-shadow: 2px 2px 4px #036b37b3;
    }
    .matDeCorralon{
        padding: 10px;
        text-align: center;
        font-size: $dimensionMatDeCorralon;
        color: $colorFondo;
        background-color: #08c52880;
    }
    .prodGrid{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto ;
        align-items: center;
        justify-content: center;
    }
    .prodGrid img {
        margin: 5px;
        padding: 5px;
        width: 75%;
        height: 75%;
        background-image: linear-gradient(rgb(13, 185, 79), rgb(198, 235, 245));
    }
    .prodGrid img:hover{
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
    }
    .u{
        display: flex;
        justify-content:inline-block;
        align-items: center;
        margin: 10px;
    }
    .ubis{
        display: inline-block;
        border: 2px solid red;
        margin: 20px;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }
    .icono img{
        max-width: 40px;
    }
    .marcas{
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;
        height: 80%;
        margin: 25px 0;
    }
    .imgNosotros{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border: solid 8px green;
        background-image: linear-gradient(rgb(13, 185, 79), rgb(198, 235, 245));
        padding: 20px;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);   
    }
    .imgNosotros img{
        width: 90%;
        height: 80%;
        padding: 20px;
        margin: 5px;
    }
    .iconos img{
        width: 70px;
    }
    .iconos{
        display: inline-block;
        border: 2px solid rgb(9, 158, 9);
        margin: 20px;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }
    .info{
        display: inline;
        font-size: 20px;
    }
    .formulario{
        display: flex;
        justify-content: center;
        align-items:center;
        background-image: linear-gradient(rgb(13, 185, 79), rgb(198, 235, 245));
      }
      .contact-form-container {
        margin-top: 25px;
        background-color: whitesmoke;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
        max-width: 500px;
        width: 100%;
        height: auto;
      }
      .contact-form-container h4 {
        text-align: center;
        margin-bottom: 20px;
        color: #0ca307;
      }
      
      .contact-form {
        display: flex;
        flex-direction: column;
      }
      
      .contact-form label {
        margin-bottom: 5px;
        color: #333;
      }
      
      .contact-form input, .contact-form textarea {
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        width: 100%;
      }
      .contact-form button {
        padding: 10px 15px;
        background-color: #333;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
      }
      
      .contact-form button:hover {
        background-color: #0ca307;
      }
}
