@import "../utilidades/variables";
@import "../utilidades/mixins";
header{
    background-image: $gradientHeader;   
    .logo{
        @include flex;
    }
    .logo img{
        background-color: whitesmoke;
        width: 25%;
        border-radius: 10px;
        border: 2px solid black;
        box-shadow: 5px 0px rgba(7, 69, 185, 0.603);
    }
    .titulo{
        @include fuentePrincipal;
        margin: 0px;
        color: $colorTitulo;
    }
    .colorMenu{
        background-color: $colorMenu;
    }
    .naranja:hover{
        background-color: $colorMenuProdc;
    }
}
