@import "../utilidades/mixins";
@import "../utilidades/variables";
/* estilos del footer */
footer{
    background-color: $colorFondo;
    width: 100%;
    position: absolute;
    display: grid;
    justify-content: center;
    .footer{
        width: 100%;
        margin: auto;
    }
    .letras {
        text-align: center;
        font-size: 20px;
        @include fuenteSecundaria400;
    }
    div ul{
        list-style: none;
        text-decoration: none;
    }
    div ul li a {
        text-decoration: none;
        color: $colorFooter;
    }
    .derechos{
        @include fuentePrincipal;
        color: $derechos;
    }
    
}

