//mixin flex

@mixin flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexSucur{
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@mixin flexNosot{
  display: flex;
    justify-self:center;
    align-items: center;
}
@mixin gridIndex{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 1rem;
    justify-self: center;
    text-align: center;
    align-items: center;
}
@mixin gridProd{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

@mixin width{
    width: 100%;
  height: 100%;
}

@mixin fuentePrincipal{
  font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

@mixin fuenteSecundaria400{
  font-family: "Afacad Flux", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-variation-settings:
      "slnt" 0;
}

@mixin fuenteSecundaria600{
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
  "slnt" 0;
}

@mixin fuenteSecundaria200{
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
  "slnt" 0;
}
