$colorTitulo: #ff9305;
$gradientHeader: linear-gradient(#030553, #e9830f);
$colorMenu: #10a829;
$colorMenuProdc: #10a8298e;
$colorFondo: #030553;
$colorFuente: #070000;
$colorLtBoton: #ffffff;
$sombraH2: 2px 2px 4px #000000b3;
$bordeCajas: solid 6px #27a6d8;
$grandientCajas: linear-gradient(#0db94f, #c6ebf5);
$fondoMdC: #08c52880;
$grandientProd: linear-gradient(#0db94f, #c6ebf5);
$bordeNosotros: solid 8px #008000;
$bordesIconos: 2px solid #099e09;
$bordesForm: 1px solid #ccc;
$sombrasForm: 10px 10px 15px #00000033;
$sombraNosotros: 10px 10px 15px #000000b3;
$fondoForm: #e9830fc2;
$colorFooter: #fa9e13c0;
$derechos: #e9830f;