$colorTitulo: #3b3b3bc0;
$colorMenu: #10a829;
$colorMenuProdc: #10a8298e;
$colorFondo: #f5f5f5;
$colorUl: #044b01c0;
$colorLtBoton: #ffffff;
$colorBordes:#27a6d8;
$bordes: solid 6px $colorBordes;
$bordeNosotros: solid 8px #008000;
$bordesIconos: 2px solid #099e09;
$bordesForm: 1px solid #ccc;
$sombrasForm: 10px 10px 15px #00000033;
$sombraNosotros: 10px 10px 15px #000000b3;
$sombraH2: 2px 2px 4px #000000b3;
$sombraH3:2px 2px 4px #036b37b3;
$gradientHeader: linear-gradient(#31a6c4, #c6ebf5);
$grandientProd: linear-gradient(#0db94f, #c6ebf5);
$dimensionH3: 25px;
$dimensionMatDeCorralon: 30px;
$dimensionLetrasFooter: 20px;
$fuente: oblique;
